{% extends 'dashboard/base.html' %} {% load static %} {% load crispy_forms_tags
%} {% block content %}

<div class="p-5">
  <div class="row row-cols-2 row-cols-md-4 g-2">
    {% for note in notes %}
    <div class="col">
      <div class="card">
        <a href="{% url 'note-details' note.id %}">
          <div class="card-header">{{note.title | slice:"0:15" | safe}}</div>
        </a>
        <a href="{% url 'note-details' note.id %}">
          <div class="card-body">
            {{note.description | slice:"0:100" | safe}}
          </div>
        </a>
        <div class="card-footer mt-auto d-flex justify-content-between">
          <a href="{% url 'delete_note' note.id %}">
            <i class="fa fa-trash fa-2x"></i
          ></a>
          <a href="{% url 'note-update' note.id %}">
            <i class="fa fa-user-edit fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br /><br />
<div class="container">
  <div class="row">
    <div class="col col-6 p-3">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Create Notes</legend>
        </fieldset>

        {{form.media}} {{form.as_p}}

        <div class="form-group">
          <button href="" class="btn btn-outline-info" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
